body {
			margin:0px;
			padding:0px;
			font-family: 'Open Sans', sans-serif;
			background:#3c4c5c;
		  color : ;
  font-size : 27px;
		}

.bg {
  position:absolute;
  height:900px;
  width:100%;
   background:URL(https://s8.hostingkartinok.com/uploads/images/2017/09/8de108d2335f3d0be70f0cdf4de0223b.jpeg);
 opacity : 0.3;
}

img {
  margin-top:3%;
}
		.content {
			position: absolute;
			width:100%;
			text-align: center;
		}

		h1 {
			font-size: 40px;
			font-weight: 800;
			text-transform: uppercase;
		}

button {
  
  font-size : 27px;
  padding : 15px 40px;
  margin-top: 20px;
  border:0;
  border-radius: 10px;
  background: white;
  color:#3b8a2f;
   transition: all 0.15s;
}
button:hover{
  background: #3b8a2f;
  color:blue;
}
.rotated {
  transform:rotateZ(360deg);
}
